.cartimage{

    width:28vh;
    height: 210px;
    margin-left: 25px;
    margin-top: 24px;
}

.cart_details{
   
    width: 51vh;
    height: 250px;
    margin-left: 39px;
    margin-top: 35px;
    background-color: rgb(255, 255, 255);
}

.cart_message{
    text-align: center;
    font-size: x-large;
}